* {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

.btn-primary {
    color: #FFFFFF;
    font-weight: 100;
    font-size: 20px;
    border: 0;
    padding: 12px 16px;
    height: 56px;
    border-radius: 5px;
    background-color: #FF5959;
    margin-top: 30px;

}

.header {
    background: linear-gradient(360deg, #121212 0%, rgba(18, 18, 18, 0) 100%), url('../images/donation0.jpg');
    color: #FFFFFF;
    /* width: 1450px; */
    width: 100%;
    height: 670px;
    margin: auto;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

nav {
    text-align: center;
    padding: 174px 307px;
}

.nav-title {
    color: #FFFFFF;
    font-weight: 700;
    font-size: 65px;
    padding-bottom: 15px;
}

.nav-sub-title {
    font-weight: 400;
    font-size: 18px;
    color: #FFFFFF;
    justify-items: center;
    padding: 0px 110px;
}

.donate-taka {
    display: flex;
    justify-content: center;
    gap: 22px;
    border-radius: 5px;

}

.btn-pr {
    color: #707070;
    font-weight: 700;
    font-size: 30px;
    border: 0;
    padding: 5px;
    border-radius: 5px;
    background-color: #FAFAFA;
    margin-right: 19px;
    text-align: center;
    box-sizing: border-box;
    width: 136px;
    height: 123px;
}

.btn {
    color: #FF5959;
    font-weight: 700;
    font-size: 30px;
    border: 2px solid #FF5959;
    padding: 5px;
    border-radius: 2px;
    background-color: #FAFAFA;
    margin-right: 19px;
    text-align: center;
    box-sizing: border-box;
    width: 136px;
    height: 123px;
}

.donate-taka li {
    list-style: none;
}

.donate {
    /* background: #FFF8F3; */
    border-radius: 10px;
    padding: 100px 500px;
    text-align: center;
}
.section{
   
    text-align: center;
}
.section-title {
    color: #121212;
    font-weight: 700;
    font-size: 45px;
    margin-bottom: 20px;
}

.section-description {
    text-align: center;
    font-weight: 400;
    font-size: 17px;
    color: #707070;
    padding-bottom: 50px;
   
}

.ot-amount {
    padding-top: 50px;
    color: #B3B3B3;
    font-weight: 400;
    font-size: 18px;
}

hr {
    border: 1px solid #DADADA;
}

.facility-container {
    display: flex;
    gap: 24px; 
    text-align: center;
    margin-left: 290px;
    margin-top: 30px;
}

.facility1 {
   
      margin-top: 10px;
     margin-left: 20px; 
     height: 250PX;
     width: 400PX;
     border-radius: 15px;
     background: rgba(79, 157, 166, 0.1);
     padding: 15px;
     text-align: justify; 
}

.facility2 {
    
    color: #FF59591A;

    background: rgba(255, 89, 89, 0.1);
    margin-top: 10px;
     margin-left: 20px;
     height: 250PX;
     width: 400PX;
     border-radius: 15px;
     
     padding: 15px;
     text-align: justify;  
   
}
.facility3 {
    background: #FFF4D6;;
    margin-top: 10px;
    margin-left: 20px;
     margin-right: 300px;
     height: 250PX;
     width: 400PX;
     border-radius: 15px;
     padding: 20px; 
     text-align: justify; 
     
}
.skill-title {
    font-weight: 700;
    font-size: 20px;
    color: #181818;
    margin-top: 30px;
    margin-bottom: 20px;
}

.skill-description {
    font-weight: 400;
    font-size: 16px;
    color: #757575;
}
.work{
    margin-top: 75px;
    display: flex;
    align-items: center;
    
}
.text{
    width: 45%;
    float: left;
}
.text-title{
    margin-left: 100px;
    font-size: 35px;
    font-weight: 900;
    color: black;
    margin-top: 100px;
}
.title1{
    margin-left: 100px;
    font-size: 20px;
    color: rgb(163, 180, 195);
    text-align:left;
    margin-top: 30px;
}

.full-kaj{
    margin-top: 75px;
}
.half-width-left{
    width: 45%;
    float: left;
}
.half-width-right{
    width: 45%;
    float: left;
}
.full-title{
    margin-left: 100px;
    font-size: 35px;
    font-weight: 900;
    color: black;
    margin-top: 100px;
}
.full-data{
    margin-left: 100px;
    font-size: 20px;
    color: rgb(163, 180, 195);
    text-align:left;
    margin-top: 30px;
}